{% extends 'master.html' %}

{% block title %} Editar Matricula {% endblock %}
{% block content %}
    <h1 style="width: 100%">
        Editar Matricula - {{ id }}
    </h1>
    <form method="post">
        <p>
            <label for="nombre_propietario">Matricula</label>
            <input type="text" name="nombre_propietario"
                   value={{ matricula.nombre_propietario }}
                   placeholder="Nombre Propietario" required>
            </input>
        </p>

        <p>
            <label for="placa_carro">Placa vehiculo</label>
            <input type="text" name="placa_carro"
                   value={{ matricula.placa_carro }}
                   placeholder="Placa vehiculo" required>
            </input>
        </p>

        <p>
            <label for="anio_matricula">Año Matricula</label>
            <input type="text" name="anio_matricula"
                   value={{ matricula.anio_matricula }}
                   placeholder="Año de matricula" required>
            </input>
        </p>
        <p>
            <label for="costo_matricula">Costo Matricula</label>
            <input type="text" name="costo_matricula"
                   value={{ matricula.costo_matricula }}
                   placeholder="Costo de matricula" required>
            </input>
        </p>
        <p>
            <button type="submit">Editar</button>
        </p>
    </form>
{% endblock %}