{% extends 'master.html' %}

{% block title %} Docentes {% endblock %}
{% block content %}
    <div>

        <h1 class="title">Administrar Docentes </h1>
        <hr>
        <div>

        <table>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Placa</th>
              <th>Anio</th>
              <th>Costo</th>
          </tr>

        {% for m in matricula %}
          <tr>
                <td><b>{{ m.id }}</b></td>
                <td>
                    <p class="name">{{ m.nombre_propietario }} </p>
                </td>
                <td>{{ m.placa_carro }}</td>
                <td>{{ m.anio_matricula }}</td>
                <td>{{ m.costo_matricula }}</td>

                <td class="name">
                  [<a href="{{ url_for('matricula', matricula_id=m.id)}}">
                    Ver detalle
                  </a>]
                  [
                  <a href="{{ url_for('editar', matricula_id=m.id) }}">Editar</a>
                  ]
                </td>
            </tr>
        {% endfor %}
        </table>

        </div>
    </div>
{% endblock %}
